@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap");

/**
*! Color variables
**/

/**
*! Removing default browser style
**/
* {
  box-sizing: border-box;
}

* body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #e5e5e5;
}

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

/**
*! Header styles inputs here
**/
.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.hamburger {
  cursor: pointer;
}

.hamburger [class^=bar] {
  display: block;
  background-color: #6070ff;
  width: 1.875rem;
  height: 0.1875rem;
  margin: 0.3125rem;
  margin-right: 2rem;
}

.logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-left: 1rem;
  color: #6070ff;
  display: flex;
  align-items: center;
}

/**
*! Main section styles inputs here
**/
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/header-shapes mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  background-color: white;
  height: 36.25rem;
}

.header__title {
  width: 20.4375rem;
  height: 9.375rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
}

.header__description {
  width: 20.4375rem;
  height: 9.125rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  color: #344563;
}

.header__connect {
  position: relative;
  right: 6.4375rem;
  width: 7.3125rem;
  height: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 5px;
  color: #7f8cff;
}

.header__social__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  right: 6.4375rem;
  gap: 15px;
  margin-top: 10px;
}

/**
*! Works Style inputs here
**/
.works {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  position: relative;
  top: 80px;
}

.works__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin: 10px;
  background-color: white;
}

.project__title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 30px 0 6px 6px;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.project__name {
  font-weight: 600;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  margin-left: 10px;
  color: #344563;
}

.counter {
  color: #c1c7d0;
}

.project__role {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.year {
  font-weight: 600;
  font-size: 13px;
  width: 25%;
  color: #7a869a;
}

.project__description {
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.language {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.html {
  border-radius: 8px;
  padding: 4px 12px;
  background-color: #ebebff;
}

.css {
  border-radius: 8px;
  padding: 4px 12px;
  background-color: #ebebff;
}

.javascript {
  border-radius: 8px;
  padding: 4px 12px;
  background-color: #ebebff;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}

.btn:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: #6070ff;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}

.btn:active {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: #2230d2;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}

.see__project {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.see__project:hover {
  color: white;
}

/**
*! About Myself Style inputs here
**/
.about__myself__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  border-radius: 0 70px 0 0;
  margin-top: 300px;
  height: -moz-max-content;
  height: max-content;
}

.about__self {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about__myself__title {
  font-weight: 700;
  font-size: 40px;
  margin-left: 10px;
  color: #172b4d;
}

.about__myself__description {
  font-weight: 400;
  font-size: 16px;
  margin: 10px;
  padding: 0;
  color: #344563;
}

.about__myself__connect {
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  color: #7f8cff;
}

.about__myself__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-left: 19px;
}

.btn2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
  margin-left: 10px;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}

.btn2:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: #6070ff;
  margin-left: 10px;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}

.btn2:active {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: #2230d2;
  margin-left: 10px;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}

.resume {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.resume:hover {
  color: white;
}

.skills__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about__myself__language {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.language-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  margin: 20px 30px 0 30px;
  padding: 10px;
  background-color: #f7f7f9;
}

.code {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
}

.framework {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin: 0;
}

.skills {
  position: relative;
  font-weight: 500;
  left: 40px;
  font-size: 20px;
  color: #000;
}

.first-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.second-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom-separator {
  margin: 0 30px;
  padding-right: 10px;
}

.drop__down__icon {
  margin-right: 45px;
}

.right__icon {
  margin-right: 45px;
}

.second__icon {
  margin-right: 45px;
}

/**
*!Footer Style inputs here
**/
.contact__form__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/contact form shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #6070ff;
  border-radius: 70px 0 0 0;
  margin-top: 100px;
  height: 820px;
}

.contact__form__title {
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin: 0;
}

.contact__form__description {
  font-weight: 400;
  font-size: 20px;
  padding: 12px;
  margin: 0;
  text-align: center;
  color: #ebebff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 12px 0 12px;
}

.name {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
}

.email {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
}

input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  padding: 16px;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  padding: 16px;
}

textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 170px;
}

textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 16px;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 16px;
}

.get__in__touch {
  background-color: white;
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}

.get__in__touch:hover {
  background-color: #6070ff;
}

.get__in__touch:active {
  background-color: #2230d2;
}

.btn3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.btn3:hover {
  color: white;
}

.shape {
  display: grid;
  place-items: center;
  margin-top: 25px;
}
